@import "./variables";

@mixin flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

@mixin height-footer {
    @include flex-center;

    width: 100%;
    min-height: $height-header;
    background-color: rgba(98, 98, 98, 0.5);

    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 32px;
}

@mixin nav {
    @include flex-center;

    height: $height-header;
    background-color: rgba(255, 255, 255, 0);

    flex-direction: row;
}