@import "./variables";

@mixin flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

@mixin heder-footer {
    @include flex-center;

    width: 100%;
    min-height: $height-header;

    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 32px;
}

@mixin nav {
    @include flex-center;

    height: $height-header;
    

    flex-direction: row;
}