@import "./mixins";
@import "./variables";
@import "./animations";

:root {
    --height-header: 50px;
    --padding-header: 8px;

    --text-color: #ffffff;

    --layout-background-color: rgba(98, 98, 98, 0.5);
    --layout-background-color2: rgb(209, 209, 209);

    --body-background-color: rgb(21, 21, 21);
    --body-background-color2: rgb(0, 0, 0);

}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    color: rgb(255, 255, 255);
}

html {
    overflow: hidden;
}

.body {
    width: 100%;
    height: 100vh;

    display: flex;
    flex-direction: column;
    align-items: center;

    // position: relative;
    background-size: cover;
}

.bodySvgBackground {
    height: 100Vh;
    width: 100vw;
    fill: rgb(0, 0, 0);
    background-color: rgb(21, 21, 21);

    position: absolute;
    z-index: -1;
}

.header {
    @include heder-footer;

    background-color: var(--layout-background-color);

    backdrop-filter: blur(18px);
}

.logo {
    height: $height-header;
    width: $height-header;
    background-color: aqua;
}

.navBar {
    width: 40%;
    background-color: rgba(255, 255, 255, 0);
    @include nav;
}

.navPoint {
    width: 150px;
    text-decoration: none;
    border: none;
    transition: 0.3s;
    background-color: rgba(255, 255, 255, 0);
    @include nav;
}

.navPoint:hover {
    background-color: rgba(0, 0, 0, 0.345);
    transition: 0.3s;
}

.buttonSettings {
    border: none;
    background-color: rgba(0, 0, 0, 0);
    border-radius: 24px;
    width: $height-header - $padding-header;
    height: $height-header - $padding-header;
}

.settingsIcon {
    width: 100%;
    height: 100%;
    fill: $color-nav;
    transition: 0.3s;
}

.settingsIcon:hover {
    fill: $color-nav-exudation;
}

.overlay {

    position: absolute;
    top: $height-header;

    width: 100%;
    height: calc(100vh - $height-header);

    background-color: rgba(0, 0, 0, 0.8);
    backdrop-filter: blur(3px);

    animation-name: closeOverlay;
    animation-duration: 0.1s;
    animation-timing-function: linear;
    animation-fill-mode: forwards;


}

.setingsMenu {

    position: absolute;
    top: $height-header;
    right: 0;

    overflow: hidden;
    gap: $padding-header;
    padding: $padding-header;

    display: flex;
    flex-direction: column;
    justify-content: end;
    align-items: end;

    animation-name: closeSetingsMenu;
    animation-duration: 0.3s;
    animation-timing-function: linear;
    animation-fill-mode: forwards;
}

.setingsMenuButtons {
    height: 40px;
    width: 200px;

    flex-shrink: 0;

    border: none;
    border-radius: 50px;
    background-color: rgb(255, 255, 255);
    color: black;
}

.main {
    width: 100%;

    position: relative;

    min-height: calc(100vh - ($height-header * 2));

}

.page {
    overflow-y: scroll;

    height: 100%;
    max-width: 1200px;

    background-color: rgba(94, 94, 94, 0.659);
    backdrop-filter: blur(8px);

    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;

    transition: all 0.8s;
}

.content {
    margin: 12px;

}

.contentItem {
    @include flex-center;

    flex-direction: column;
    gap: 8px;

    padding: 12px;

    img,
    p,
    h2 {
        width: 100%;
    }

    img {
        max-width: 600PX
    }
}

.footer {
    @include heder-footer;

    background-color: var(--layout-background-color);

    backdrop-filter: blur(8px);
    padding: 0px 32px 0px 32px;
    overflow: hidden;
}

.styleAvatar {
    border: none;
    border-radius: 24px;
}

.styleText {
    color: inherit;
}